
body{
  background-color:lightblue;
}
form{
  background-color:white;
  width:40%;
  font-family:'arial';
  margin-left:auto;
  margin-right:auto;
  padding:10px;
}

p{
  align-content: center;

}
input{
background-color:lightgrey;
padding:10px;
border: solid black 1px;
border-radius:8px;
}

textarea{
width:100%;
border-radius:8px;
}
hr{
color:black;
}
